body{
    background-color: green;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.item{
    background-color: rgb(59, 148, 133);
    height: 300px;
    width: 200px;
    margin: 5px;
    border: rgb(255, 255, 255) solid 2px;
}

.flex-container{
    display: flex;
    background-color: rgb(56, 168, 144);
}

.quadrado{
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(18, 168, 161);
    border: rgb(255, 255, 255) solid 2px;
    color: rgb(14, 99, 99);
    font-weight: bolder;
}

.flex-container2{
    display: inline-flex;
    background-color: rgb(7, 80, 64);
}
.flex-container3{
    display: inline-flex;
    background-color: rgb(14, 112, 129);
    width: 70%;
}

.center{
    justify-content: center;
}

.end{
    justify-content: end;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}

.retangulo{
    width: 100px;
    height: 250px ;
    background-color: azure;
    border: black solid 2px;
}

.retangulo2{
    width: 100px;
    height: 200px ;
    background-color: azure;
    border: black solid 2px;
}

.retangulo3{
    width: 100px;
    height: 400px ;
    background-color: azure;
    border: black solid 2px;
}

.retangulo4{
    width: 100px;
    height: 150px ;
    background-color: azure;
    border: black solid 2px;
}

.retangulo5{
    width: 100px;
    height: 350px ;
    background-color: azure;
    border: black solid 2px;
}
.flex-container4{
    display: flex;
    height: 500px;
    width: 80%;
    background-color: rgb(34, 80, 80);
}

.center-v{
    align-items: center;
}

.end-v{
    align-items: flex-end;
}

.start-v{
    align-items: flex-start;
}

.baseline{
    align-items: baseline;
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
}
.reverse-wrap{
    flex-flow: row-reverse wrap;
}